@media(min-width:320px) and (max-width:575px) {
    #banner-part .overlay {
        padding: 100px 0 !important;
    }

    #skills-part .skills ul li {
        display: block !important;
    }
    #skills-part .skills ul li::after {
          width: 10% !important;
        }
}

@media(min-width:576px) and (max-width:767px) {
    #banner-part .overlay {
        padding: 100px 0 !important;
    }

    }


@media(min-width:768px) and (max-width:991px) {}

@media(min-width:992px) and (max-width:1199px) {}
